<div class="container">
  <h1> Login in to post a tweet </h1>

  <div id="login">
    <a href="/auth/twitter">Sign in with Twitter</a>

<!--      <form id="login_form" method="POST" action="#">
       <input name="user" type="text" placeholder="user"/>
       <input name="password" type="password" placeholder="password"/>
       <button type="submit" value="Login"/>
     </form> -->
  </div>
  
</div>