<div class="container">
  <h1> Fill out form to post a Tweet</h1>

  <div id="tweet">
    <lab id="user"> <%=session[:user]%></lab>
    <form id="tweet_form" method="POST" action="#">
     <input type="text" placeholder="tweet"/>
     <input type="submit" value="Tweet"/>
   </form>
 </div>

</div>